#courses-home{
    text-align: left;
}

#courses-home h1{
    color: #66999B;
    margin-top: 2rem;
    text-align: left;
}

.courses-home-info{
    background-color: #faeee2;
    width: 70%;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem 0;
}

#courses-home p{
    margin: 2rem 0;
    width: 70%;
}

#courses-home-img{
    width: 100%;
    border-radius: 2rem;
    height: 30vh;
    object-fit: cover;
}

#courses-home .inputs-part h3{
    text-align: left;
    margin-bottom: 1rem;
}

.course-adding-part, .course-updating-part, .course-deleting-part{
    text-align: left;
    width: 70%;
    margin-bottom: 2rem;
    background-color: #faeee2;
    padding: 2rem;
    border-radius: 2rem;
}

textarea{
    width: 100%; 
    text-align: left;
    padding: 1rem;
    resize: none;
    margin-top: 1rem;
    border-radius: 10px;
}

textarea:user-invalid{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.171);
}

#course-add-button, #course-update-button{
    background-color: #B3AF8F;
    width: 100%;
    margin-top: 1rem;
}

#course-add-button:hover, #course-update-button:hover{
    background-color: #979479;
}

#course-delete-button{
    background-color: #b85c5c;
    width: 100%;
    margin-top: 1rem;
}

#course-delete-button:hover{
    background-color: #b44d4d;
}