/* GET ALL STUDENTS'S CSS CODES */
#get-all-students h1{
    color: #66999B;
    margin-top: 2rem;
}

#get-all-students .about-paragraph{
    text-align: left;
    margin: 1rem 0;
}

.get-all-students-info{
    display: flex;
    margin: 2rem 0;
    background-color: #faeee2;
    padding: 2rem;
    border-radius: 2rem;
}

.get-all-students-info img{
    width: 26vw;
    border-radius: 20px;
    margin-left: 1.5rem;
}

#my-student-search-button{
    background-color: #B3AF8F;
    margin-left: 0.5rem;
}

#my-student-search-button:hover{
    background-color: #979479;
}

#my-student-clear-button{
    background-color: #b85c5c;
    margin-left: 0.5rem;
}

#my-student-clear-button:hover{
    background-color: #b44d4d;
}

