#get-all-students h1{
    color: darkslateblue;
    margin-top: 2rem;
}

#get-all-students .about-paragraph{
    text-align: left;
    margin: 1rem 0;
}

#my-student-search-button{
    background-color: rgb(93, 161, 93);
    margin-left: 0.5rem;
}

#my-student-search-button:hover{
    background-color: rgb(81, 122, 81);
}

#my-student-clear-button{
    background-color: #cc4848;
    margin-left: 0.5rem;
}

#my-student-clear-button:hover{
    background-color: #9e3b3b;
}

.get-all-students-info{
    display: flex;
    margin: 2rem 0;
}

.get-all-students-info img{
    width: 26vw;
    border-radius: 20px;
    margin-left: 1.5rem;
}

