*{
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}




/* SCROLL BAR */
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




.content{
    padding: 5rem 2rem 1rem 2rem;
}




/* USEFUL CLASSES */
.bg-blue{
    background-color: #66999B;
}

.blue{
    color: #66999B;
}

.my-link:hover{

    border-bottom: 2px solid #B3AF8F;
    color: #B3AF8F;
}




/* NAVBAR */
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0.8rem 10rem;
    justify-content: space-between;
}

.app-title{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

nav .icons-section{
    display: flex;
    flex-wrap: wrap;
}

nav .icons-section div{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 1.4rem;
}

.icons-section img{
    height: 1.8rem;
    margin-right: 0.5rem;
}




/* ASIDE (Left Bar) */
aside{
    height: 51.5vh;
    width: 20vw;
    position: fixed;
    margin-top: 2rem;
}

aside h3{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem 0;
    color: white;
}

.accordion{
    cursor: pointer;
    background-color: #faeee2;
    color: #444444;
    padding: 1rem 0;
    transition: 0.4s;
}

.accordion::after{
    content: '\02795';
    font-size: 0.8rem;
    margin: 0 1rem;
    color: #777777;
    float: right;
}

.active, .accordion:hover{
    background-color: #d6ccc1;
}

.active::after{
    content: "\2796";
}

.panel{
    background-color: white;
    display: none;
    overflow: hidden;
}

aside .panel div{
    padding: 0.7rem 0;
    font-style: italic;
    cursor: pointer;
}

aside .panel div:hover{
    background-color: #faeee2;
}




/* MAIN */
main{
    width: 70vw;
    margin-left: 22vw;
}

.category{
    display: none;
}

.category-active{
    display: block;
}

.warning{
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin: 2rem 0;
    text-align: left;
}

.warning-red{
    border: 2px solid #b44d4d;
    background-color: #c46767;
}

.warning b{
    margin: 0 4px;
}

.my-search-part{
    margin-bottom: 1rem;
}

.my-search-bar{
    height: 3rem;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #777777;
    text-align: left;
    padding-left: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.my-button{
    color: white;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.my-table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.my-table th {
    background-color: #66999B;
    color: white;
}

.my-table td, th {
    border: 1px solid #c7c7c7;
    text-align: left;
    padding: 8px;
}

.my-table tr:nth-child(even) {
    background-color: #dddddd;
}

.my-input{
    height: 2rem;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: left;
    padding: 0 10px;
}

input:user-invalid{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.171);
}






/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .app-title{
    padding: 0.8rem 0;
    width: 60vw;
    border-bottom: 2px solid white;
    height: fit-content;
    border-radius: 10px;
}

.footer-content{
    padding: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.footer-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h4{
    padding: 0.5rem;
    border-radius: 10px;
    border-bottom: 2px solid white;
    
}

.footer-content a{
    display: block;
    margin-top: 0.5rem;
    width: fit-content;
    border: 2px solid #66999B;
}

.copy-right{
    background-color: #505050;
    padding: 0.2rem 0;
    width: 100%;
    color: white;
    font-weight: bold;
}


/* RESPONSIVE DESIGN */
/* ================= */

/* For small desktops */
@media only screen and (max-width: 1206px){
    /* MAIN */
    .warning-red b{
        margin-left: 0px;
    }

    .my-input{
        margin-top: 0.5rem;
    }

    .my-search-bar{
        width: 50%;
    }
}

/* For small laptops */
@media only screen and (max-width: 1035px){
    /* NAVBAR */
    nav{
        padding: 0.8rem 3rem;
    }

    .app-title{
        font-size: 1rem;
    }

    /* MAIN */
    .get-all-students-info{
        flex-direction: column-reverse;
    }

    .get-all-students-info img, .get-all-courses-info img{
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .get-all-courses-info{
        flex-direction: column;
    }
}

/* For Tablets */
@media only screen and (max-width: 885px){
    html{
        font-size: 12px;
    }

    /* ASIDE (Left Bar) */
    aside{
        position: static;
        height: fit-content;
        width: 100%;
        padding: 0 3rem;
    }

    .students-buttons b, .courses-buttons b{
        margin-left: 3rem;
    }

    /* CONTENT */
    .content{
        padding-left: 0;
        padding-right: 0;
    }

    #main-content{
        margin-left: 0;
        width: 90%;
        margin: auto;
    }

    /* MAIN */
    #students-home h1, #courses-home h1{
        text-align: center;
    }

    .student-adding-part, .student-updating-part, .student-deleting-part, .course-adding-part, .course-updating-part, .course-deleting-part {
        width: 100%;
    }

    .student-home-info, .courses-home-info{
        width: 100%;
    }

    #home .user-part{
        flex-direction: column;
        margin-bottom: 4rem;
    }

    #home .user-part img{
        width: 35vw;
    }

    #home .user-info, #home .user-info h3{
        margin-left: 0;
        text-align: center;
    }
}

/* For phones */
@media only screen and (max-width: 580px){
    /* NAVBAR */
    nav{
        flex-direction: column;
        padding: 0.8rem 1rem;
        font-size: 1.3rem;
    }

    .app-title{
        margin-bottom: 0.5rem;
    }

    /* ASIDE (Left Bar) */
    aside{
        margin-top: 4rem;
    }

    /* MAIN */
    .my-table td, th {
        padding: 4px;
    }

    #add-takenCourse-button, #update-takenCourse-button{
        width: 100%;
    }

    #adding-takenCourses select{
        width: 18rem;
    }

    /* FOOTER */
    footer{
        font-size: 1.2rem;
    }

    footer .app-title{
        font-size: 2rem;
    }

    .footer-content{
        flex-direction: column;
    }

    .footer-content > div{
        margin-bottom: 2rem;
    }
}

/* For Small phones */
@media only screen and (max-width: 510px){
    html{
        font-size: 9px;
    }
}